/venv
venv/
/venv/
/.cloud/
.cloud/
/.cloud
/.env
.env
/db.sqlite3
db.sqlite3/
/db.sqlite3/
/static_cdn
static_cdn/
/public
public/
/public/
/static_cdn/
/media/
/static/
/general.log/
general.log/
/general.log

